body{
    margin: 10px;
    padding: 0;
    background-image: linear-gradient(to right,#f2f3f4, #a3a7aa);
    font-family: sans-serif;
}
iframe {
    border-width: 2px;
    border-color: green;
    position: relative;
    display: block;
    border:3px solid white;
    /* border-image: green;
    border-style: bold;
    */
}
h2 {
    margin-bottom: 10px;
}
.box{
    float:left;
    margin-right:0px;
}
.box2{
    float:right;
    margin-right:0px;

}
.clear{
    clear:both;
}
.second{
    /*color: #06226a;*/
    color:black;
    
    
}
.sidebysidediv{
    display: inline;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 800px;
    height: 100px;
    
  }
  
    .line{
            
            border-bottom:1px solid black;
            width: 90%;
            margin-left: 67px;
            
           
            
        
    }
    .Bbot{
        height: 60px;
        width:50px;
        margin-top: 38px;
        margin-left: 70px;
        /*background-color: #F76C6C;*/
        /*
        .BB
        color:black;
        height: 80px;
        width:40px;
        font-size: 30px;
        background-color: #f69696;
        text-align: center;
        margin-top: 25px;
        margin-left: 68px;
    */
    }
    /*
    .Bcls{
        margin-top: 5px;
        width: 40px;
        height: 80px;
    }
    */
    .second{
        display: inline;
        float:left;
        font-size: 30px;
        margin-top: 7px;
        margin-left: 10px;
        
    }
    .third{
        padding-top: 0px;
    }

